# Intellij
*.iml
.idea

# npm
node_modules
package-lock.json

# build
*.js.map
build

# obsidian
data.json

# data from oracles etc
src/mythic/data

# and
.DS_Store
move.sh
.env
copy.sh